.mainDiv
{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    
    background-color: #ffccff;
}
.secondDiv
{
    width: 50%;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 10px #888888;
}
